#!/bin/bash
#
# Author: DALQUINT - denny.alquinta@oracle.com  
# Purpose: Bash wrapper to call python script that creates configuration files
#         
# Copyright (c) 2021 Oracle and/or its affiliates. All rights reserved.
#


cd {{ template_home }}
python create-ms-config-files.py
