#!/bin/bash
#
# Author: DALQUINT - denny.alquinta@oracle.com  
# Purpose: Bash wrapper to call python script to start domain automatically
#         
# Copyright (c) 2021 Oracle and/or its affiliates. All rights reserved.
#
OFA_DIR='{{ofa_dir}}'
DOMAIN_NAME='{{domain_name}}'
SPATH=$OFA_DIR/app/oracle/config/control
MW_HOME_NAME='{{product}}'
PROD_SUBDIR_NAME='{{product_sub_dir}}'

source $OFA_DIR/app/oracle/product/fmw/$MW_HOME_NAME/$PROD_SUBDIR_NAME/wlserver/server/bin/setWLSEnv.sh

java -Djava.security.egd=file:/dev/./urandom  weblogic.WLST -skipWLSModuleScanning $SPATH/$DOMAIN_NAME/startDomain.py
